{% extends "theme/layout.html" %}
{% block page_div_id %}detail{% endblock %}

{% block content %}
<div id="innerContainer">
  <div class="innerTop"></div>
  <div id="outerContent">
    <div id="content">
      <div class="contentTop"></div>
      <ul id="posts">
        <div class="postsTop"></div>
        <li>
          <div class="postHeader">
            <h2>{{ post.title|e }}<!-- <span class='category'> - [<a href='/c1699300/'>en-public</a>]</span> --></h2>
            <h3>{{ post.date|date("%Y-%m-%d") }}</h3>
          </div>
          <div class="postBody">
            <p class="cc-lisence" style="line-height:180%;"> <a href="http://creativecommons.org/licenses/by/3.0/deed.zh" target="_blank">版权声明</a>：转载时请以超链接形式标明文章原始出处和作者信息及<a
href="http://creativecommons.org/licenses/by/3.0/deed.zh"
target="_blank">本声明</a><br />
              <a href="http://insane.blogbus.com/logs/52531610.html">http://insane.blogbus.com/logs/52531610.html</a><br />
              <br />
            </p>
            {{ post.content }}
            <div class="clear"></div>
          </div>
          <div class="postFooter">
            <div class="tags">Tag：{{ post.taglist }} </div>
            <div class="menubar"><span class="author"> 发表于<span class="time">15:13:22</span> | <a href="#" class='edit'>编辑</a></div>
          </div>
        </li>
        <div class="postsBottom"></div>
      </ul>
      <a name="cmt"></a>
      <ul id="comments">
        <h2>评论</h2>
        <li>
          <div class='cmtBody'>呃..是280...不是380....<br />
            另外，您睡的比我早。我照例的...是早上5点睡的..<br />
            还有，整场我穿得最对路，在一堆抱着大衣的人里，只有我，一件衬衫，最轻松...<br />
            再就是...我，照例的，顺回来了只杯子..<br />
            我还吼了那个咔吧男一声....<br />
            最后，北京的演出是在愚公移山，我们...至少是我...去过的－－如我所说...</div>
          <div class="reCmtBody">
            <div><span class="author">innocent_sin</span>回复<span>eva</span>说：</div>
            <div class="content">呃 380的是另一张。带DVD...<br />
              我承认我那天没注意穿衣打扮，您别在意。顺杯子没什么不好，谁让他们一杯可乐卖20... 以后早点睡吧。我担心您身体，还有一半的路要一起走的。</div>
            <div class="time">2009-11-29 18:55:03</div>
          </div>
          <div class='menubar'><span class='author'>eva | </span> 发表于<span class='time'>2009-11-29 18:45:47</span> <span>[<a href="#" onclick="#" rel="facebox">回复</a>]</span></div>
        </li>
      </ul>
      <div id="commentForm">
        <h2>发表评论</h2>
        <a name="cmt_form"></a>
        <form method="post" action="#" onsubmit="return check_cmt(this);">
          <div>
            <label for="cname">姓　名</label>
            <input class="textField" id="cname" name="name" type="text" />
          </div>
          <div>
            <label for="cemail">E-Mail</label>
            <input class="textField" id="cemail" name="email" type="text" />
            <span style="color:#ccc; margin-left:5px;" class="emailnotice"><span>您将收到博主的回复邮件</span></span> </div>
          <div>
            <label for="chomepage">地　址</label>
            <input class="textField" id="chomepage" name="homepage" type="text" />
          </div>
          <div>
            <textarea name="content" rows="8"></textarea>
          </div>
          <div class="submit">
            <input type="hidden" name="postId" value="32013005" />
            <input type="hidden" name="blogId" value="4756607" />
            <input type="hidden" name="checksum" value="763e0fe4042ac1d2825a96e1f2323277" />
            <input class="button" name="addsub" value="提交" type="submit" />
            <span class="rememberBox">
            <input id="cremember" name="remember" Checked="true" type="checkbox" class="cremember" style="margin:0; padding:0; border:0; width:auto;" />
            记住我</span> </div>
        </form>
      </div>
      <div class="contentBottom"></div>
    </div>
  </div>
  <div id="outerSidebar">
    <div id="sidebar">
      <div class="sideTop"></div>
      <div id="nPosts" class="module">
        <div class="modTop"></div>
        <h2>最新日志</h2>
        <div class="modBody">
          <ul>
            <li><a href='/logs/52531610.html'>在那晚空前的后摇飨宴上我们的身躯不曾动摇</a></li>
            <li><a href='/logs/52531012.html'>A CUP IS A TRAGEDY</a></li>
            <li><a href='/logs/52301770.html'>后摇之夜</a></li>
            <li><a href='/logs/52130144.html'>Astro</a></li>
            <li><a href='/logs/51709269.html'>啊</a></li>
            <li><a href='/logs/51046579.html'>It doesn't matter</a></li>
            <li><a href='/logs/49031560.html'>刷过去...</a></li>
            <li><a href='/logs/49031370.html'>“卡特琳娜·布雷娅”梦魇</a></li>
            <li><a href='/logs/48254170.html'>迟早，我们会再见的，一路走好</a></li>
            <li><a href='/logs/47885432.html'>电子乐@SH</a></li>
          </ul>
          <div class="more"><a href="/logs/">全部日志>></a></div>
        </div>
        <div class="modBottom"></div>
      </div>
      <div id="nComments" class="module">
        <div class="modTop"></div>
        <h2>最新评论</h2>
        <div class="modBody">
          <ul>
            <li><span class='author'>eva</span>：<a href='/logs/52531610.html#cmt'>您的回复看的我热泪盈眶...啊......</a></li>
            <li><span class='author'><a href="http://seah.blogbus.com" target="_blank">Mormo</a></span>：<a href='/logs/52531610.html#cmt'>后搖有力量</a></li>
            <li><span class='author'><a href="http://freakofree.blogbus.com" target="_blank">Freakofree</a></span>：<a href='/logs/52531610.html#cmt'>恩 那如果你去看大江的&quot;个人的体验&quot;...</a></li>
            <li><span class='author'><a href="http://polaris14551.blogbus.com" target="_blank"> 摇光</a></span>：<a href='/logs/52531012.html#cmt'>李老师你可以的。。</a></li>
            <li><span class='author'><a href="http://polaris14551.blogbus.com" target="_blank"> 摇光</a></span>：<a href='/logs/52531610.html#cmt'>原来MAO的场子已经算不错了咩...</a></li>
            <li><span class='author'><a href="http://seekmusic.blogbus.com" target="_blank">竹木刀</a></span>：<a href='/logs/52531610.html#cmt'>生活频道，私人内容删掉了。...</a></li>
            <li><span class='author'><a href="http://zxiaoniu.blogbus.com" target="_blank">之</a></span>：<a href='/logs/52531610.html#cmt'>有钱的李老湿·····...</a></li>
            <li><span class='author'><a href="http://seekmusic.blogbus.com" target="_blank">竹木刀</a></span>：<a href='/logs/52531610.html#cmt'>推了你这篇，还给了个黄金位置。...</a></li>
            <li><span class='author'><a href="http://freakofree.blogbus.com" target="_blank">Freakofree</a></span>：<a href='/logs/52531610.html#cmt'>1. 那是大江建三郎的某书诶 你要完蛋了这都不知道
              2...</a></li>
            <li><span class='author'>遥遥</span>：<a href='/logs/52531012.html#cmt'>你们可以的，大不大要问麦多吧...</a></li>
          </ul>
        </div>
        <div class="modBottom"></div>
      </div>
      <div id="search" class="module">
        <div class="modTop"></div>
        <h2>搜索</h2>
        <div class="modBody">
          <form name="SearchForm" method="get" target="_blank" action="http://search.blogbus.com/search">
            <input type="text" name="q" class="textField" />
            <input type="submit" class="button" value="搜索" />
            <input type="hidden" name="b" value="1017919"/>
            <input type="hidden" name="dir" value="oneblog"/>
            <div class="clear"></div>
          </form>
        </div>
        <div class="modBottom"></div>
      </div>
      <div class="sideBottom"></div>
    </div>
  </div>
  <div class="clear"></div>
  <div class="innerBottom"></div>      
</div>
{% endblock %}