{% extends "admin/layout.html" %}
{% block title %} 评论管理 {% endblock %}
{% set comments_active = 'active' %}

{% block content %}
<div id="containerHolder">
  <div id="container">
    <div id="sidebar">
      <ul class="sideNav">
        <li><a href="/admin/comments" class="active">所有评论</a></li>
        <li><a href="#">隐藏评论</a></li>
      </ul>
    </div>

    <!-- h2 stays for breadcrumbs -->
    <h2><a href="/admin">Dashboard</a> &raquo; <a href="/admin/comments" class="active">评论管理</a></h2>

    <div id="main">
      <h3>评论管理</h3>

      <table cellpadding="0" cellspacing="0" class="list">
        <thead>
          <tr>
            <th>ID</th><th>文章</th><th>姓名</th><th>内容</th><th>操作</th>
          </tr>
        </thead>
        <tbody>
          {% for comment in comments -%}
          <tr class="{{ loop.cycle('odd', '') }}">
            <td>{{ comment.key().id() }}</td>
            <td>{{ comment.post.title }}</td>
            <td>{{ comment.name|e }}</td>
            <td>{{ comment.content|e }}</td>
            <td class="action">
              <a href="/admin/comment/replay/{{ comment.key().id() }}" class="edit">回复</a>
              <a href="#" onclick="if (confirm('确认删除吗？')) window.location.href='/admin/comment/delete/{{  comment.key().id() }}';return false;" class="delete">删除</a>
            </td>
          </tr>
          {%- endfor %}
        </tbody>
      </table>
      {% if not pager.isFirstPage() %}
      <a href="?page={{ pager.getFirstPage() }}">第一页</a>
      <a href="?page={{ pager.getPreviousPage() }}">上一页</a>
      {% endif %}

      {% for link in pager.getLinks(10) %}
        {% if link == pager.getPage() %}
        {{ link }}
        {% else %}
        <a href="?page={{ link }}">{{ link }}</a>
        {% endif %}
      {% endfor %}

      {% if not pager.isLastPage() %}
      <a href="?page={{ pager.getNextPage() }}">下一页</a>
      <a href="?page={{ pager.getLastPage() }}">最末页</a>
      {% endif %}
    </div>
    <div class="clear"></div>
  </div>
</div>
{% endblock %}