{% extends 'admin/layout.html' %}
{% block title %}{{ title }}{% endblock %}
{% set link_active = 'active' %}

{% block content %}
<div id="containerHolder">
  <div id="container">
    <div id="sidebar">
      <ul class="sideNav">
        <li><a href="/admin/link/new"{% if not link %} class="active"{% endif %}>新增友情链接</a></li>
        <li><a href="/admin/links">友情链接</a></li>
      </ul>
    </div>
    <h2><a href="/admin">Dashboard</a> &raquo; <a href="#" class="active">{{ title }}</a></h2>

    <div id="main">
      <h3>{{ title }}：</h3>
      <form action="" method="post">
        <fieldset>
          <p><label class="caption">名称：</label><input id="id_name" type="text" class="title" value="{{ link.name }}" name="name" /></p>
          <p><label class="caption">链接地址：</label><input id="id_url" type="text" class="text-long" value="{{ link.url }}" name="url" /></p>
          <input type="submit" value=" 发 布 " />
        </fieldset>
      </form>
    </div>
    <div class="clear"></div>
  </div>
</div>
{% endblock %}
