{% extends "admin/layout.html" %}
{% block title %}系统设置{% endblock %}
{% set setting_active = 'active' %}

{% block content %}
{% set basic = 'active' %}
<div id="containerHolder">
  <div id="container">
    {% include "admin/sidebar/setting.html" %}
    <h2><a href="#">Dashboard</a> &raquo; <a href="#" class="active">系统设置</a></h2>

    <div id="main">
      <h3>系统设置：</h3>
      <form action="/admin/setting" method="post">
        <fieldset>
          <p><label class="caption">博客名称：</label><input id="id_name" type="text" class="text-long" value="{{ blog.name }}" name="name" /></p>
          <p><label class="caption">博客简介：</label><textarea id="id_description" name="description" style="width:500px;height:50px;">{{ blog.description }}</textarea></p>
          <p>
            <label class="caption">时区：</label>
            <select name="timezone">
              {% for timezone in timezones %}
              <option value="{{ timezone }}"{% if blog.timezone == timezone %} selected="selected"{% endif %}>{{ timezone }}</option>
              {% endfor %}
            </select>
          </p>
          <p><label class="caption">自定义Header：</label><textarea id="id_custom_header" name="custom_header" style="width:500px;height:80px;">{{ blog.custom_header }}</textarea></p>
          <input type="submit" value=" 保 存 " />
          <a href="/admin/setting/clear_cache">清除缓存</a>
        </fieldset>
      </form>
    </div>
    <div class="clear"></div>
  </div>
</div>
{% endblock %}