{% extends "admin/layout.html" %}

{% block title %}系统设置{% endblock %}

{% block content %}
<div id="containerHolder">
   <div id="container">
       <div id="sidebar">
           <ul class="sideNav">
               <li><a href="/admin/setting" class="active">基本设置</a></li>
               <li><a href="#">导入导出</a></li>
           </ul>
       </div>
       <h2><a href="#">Dashboard</a> &raquo; <a href="#" class="active">Print resources</a></h2>
       
    <div id="main">
        <h3>系统设置：</h3>
		<form action="/admin/setting" method="post">
		<fieldset>
		    <p><label class="caption">博客名称：</label><input id="id_name" type="text" class="text-long" value="{{ blog.name }}" name="name" /></p>
		    <p><label class="caption">博客简介：</label><textarea id="id_description" rows="10" cols="40" name="description">{{ blog.description }}</textarea></p>
		    <input type="submit" value=" 保 存 " />
		</fieldset>
		</form>
     </div>
     <div class="clear"></div>
  </div>
</div>
{% endblock %}